{% extends "candidateManager/base.html" %}
{% load staticfiles %}
{% block title_content %}
{{ candidate.firstName }} {{ candidate.lastName }} 
{% endblock title_content %}


{% block base_content %}

<div class="container-overlap bg-blue-500">
            <div class="media m0 pv">
              <div class="media-left"><a href="#"><img src="{% static 'img/icons/person-stalker.svg' %}" alt="User" class="media-object img-circle thumb64"></a></div>
              <div class="media-body media-middle">
                <h4 class="media-heading">{{ candidate.firstName }} {{ candidate.lastName }} </h4><span class="text-muted"> {{ object.jobRequesition }} </span>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <!-- Left column-->
              <div class="col-md-10 col-lg-12 col-xl-12">
                <form editable-form="" name="user.profileForm" class="card">
                  <div class="card-offset">
                    <div class="card-offset-item text-right">
                      <a href="/candidates/edit/{{object.id}}"><button type="button" class="btn-raised btn btn-warning btn-circle btn-lg"><em class="ion-edit"></em></button></a>
                    </div>
                  </div>
                  <h5 class="card-heading pb0">Information:</h5>
                  <div class="card-body">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td><em class="ion-document-text icon-fw mr"></em>First Name</td>
                          <td>{{object.firstName}}</td>
                        </tr>
                        <tr>
                          <td><em class="ion-document-text icon-fw mr"></em>Last Name</td>
                          <td>{{object.lastName}}</td>
                        </tr>
                        <tr>
                          <td><em class="ion-document-text icon-fw mr"></em>Phone Number</td>
                          <td>{{object.phoneNumber}}</td>
                        </tr>
                        <tr>
                          <td><em class="ion-document-text icon-fw mr"></em>Email</td>
                          <td>{{object.email}}</td>
                        </tr>
                        <tr>
                          <td><em class="ion-document-text icon-fw mr"></em>Applying for</td>
                          <td>{{object.jobRequesition}}</td>
                        </tr>
                      </tbody>
                    </table>

              
<!--                   <form action="" class="mt">
                    <div class="input-group mda-input-group">
                      <div class="mda-form-group ">
                        <div class="mda-form-control">
                          <textarea rows="4" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"></textarea>
                          <div class="mda-form-control-line"></div>
                          <label class="m0">Comments</label>
                        </div><span class="mda-form-msg right">Any message here</span>
                      </div><span class="input-group-btn">
                        <button type="button" class="btn btn-flat btn-success btn-circle"><em class="ion-checkmark-round"></em></button></span>
                    </div>
                  </form> -->
                  
                  
                  <div class="pull-right mt-sm">
                      <a href="/candidates/notes/add/{{object.id}}"><button type="button" class="btn btn-info">Add Comment</button></a>
                    </div>
                  <br>
                  <br>
                  {% for Notes in note_list reversed %}
                 <div class="mt">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="mt0 mb-sm">{{Notes.createdby}}<small class="text-muted">{{Notes.created}}</small></h6>
                        <div class="mb">{{Notes.note}}</div>
                      </div>
                    </div>
                  </div>
                  </P>
                  {% endfor  %}



                </div>
              </div>
            </div>
          </form>
{% endblock base_content %}