{% extends "candidateManager/base.html" %}
{% load staticfiles %}
{% block title_content %}
Job Requesition
{% endblock title_content %}

{% block base_content %}

<div class="container container-lg">
            <div class="card">
              <div class="card-heading">
                <div class="card-title"></div>
              </div>
              <form method="post" class="card b0 form-validate">
              {% csrf_token %}
              <div class="card-body">
              {{ form.as_p }}
              <div class="pull-right mt-sm">
              <button type="submit" class="btn btn-primary btn-flat">Submit</button>
                    </div>
                  </div>
                </div>
</form> 

<!--           <div class="container container-lg">
            <div class="card">
              <div class="card-heading">
                <div class="card-title"></div>
              </div>
              <form  method="POST" novalidate="" class="card b0 form-validate">
              {% csrf_token %}
              <div class="card-body">
                
                  <div class="col-sm-12">
                    <div class="mda-form-group">
                      <div class="mda-form-control">
                        <input input id="id_email" name="email" tabindex="0" aria-invalid="false" class="form-control" value = {{object.email}}>
                        <div class="mda-form-control-line"></div>
                        <label>Position</label>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-sm-12">
                    <div class="mda-form-group">
                      <div class="mda-form-control">
                        <input id="id_phoneNumber" name="phoneNumber" tabindex="0" aria-invalid="false" class="form-control" value = {{object.phoneNumber}}>
                        <div class="mda-form-control-line"></div>
                        <label>Offer Rate</label>
                      </div>
                    </div>
                  </div>        
 
                
  
                <div class="row">
                  <div class="col-sm-12">
                    <div class="mda-form-group">
                      <div class="mda-form-control">
                        <label for="id_location">Location:</label>
                        <select class="form-control" id="id_location" name="location" required>
                        <option value="" selected="selected">---------</option>
                        {% for Location in location_list %}
                        <option value="{{forloop.counter}}">{{Location}}</option>
                        {% endfor  %}
                        </select>
                        <div class="mda-form-control-line"></div>
                      </div>
                    </div>
                    



                    <div class="pull-right mt-sm">
                      <button type="submit" class="btn btn-primary btn-flat">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </form> 
            </div>

 		</div> -->
       
{% endblock base_content %}