{% extends "candidateManager/base.html" %}
{% load staticfiles %}
{% block title_content %}
{{ object.position }}, {{ object.location }} 
{% endblock title_content %}


{% block base_content %}

<div class="container-overlap bg-blue-500">
            <div class="media m0 pv">
              <div class="media-body media-middle">
                <h4 class="media-heading">{{ object.position }}, {{ object.location }}  </h4><span class="text-muted"> Created by: </span>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <!-- Left column-->
              <div class="col-md-7 col-lg-8">
                <form editable-form="" name="user.profileForm" class="card">
                  <h5 class="card-heading pb0">
                    <!-- START dropdown-->
                    <!-- END dropdown-->About
                  </h5>
                  <div class="card-body">
                    <p data-type="textarea" class="is-editable text-inherit">Discription here.</p>
                  </div>
                  <div class="card-divider"></div>
                  <div class="card-offset">
                    <div class="card-offset-item text-right">
                      <a href="/jobrequesitons/edit/{{object.id}}"><button type="button" class="btn-raised btn btn-warning btn-circle btn-lg"><em class="ion-edit"></em></button></a>
                    </div>
                  </div>
                  <h5 class="card-heading pb0">Information</h5>
                  <div class="card-body">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td><em class="ion-document-text icon-fw mr"></em>Position</td>
                          <td>{{object.position}}</td>
                        </tr>
                        <tr>
                          <td><em class="ion-document-text icon-fw mr"></em>Location</td>
                          <td><span data-type="date" data-mode="popup" class="is-editable text-inherit">{{object.location}}</span></td>
                        </tr>
                        <tr>
                          <td><em class="ion-ios-body icon-fw mr"></em>Offer Rate</td>
                          <td><span data-type="date" data-mode="popup" class="is-editable text-inherit">{{object.offerRate}}</span></td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
              <!-- Right column-->
              <div class="col-md-5 col-lg-4">
                <div class="card">
                  <h5 class="card-heading">
                    <!-- START dropdown-->
                    <!-- <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li><a href="#">Action 1</a></li>
                        <li><a href="#">Action 2</a></li>
                      </ul>
                    </div> -->
                    <!-- END dropdown-->
                    Candidates:
                  </h5>
                  <div class="mda-list">
                  
                  {% for Candidate in candidate_list %}
	                    {% if forloop.counter < 5 %}
                      <div class="mda-list-item"><img img src="{% static 'img/icons/person-stalker.svg' %}" alt="List user" class="mda-list-item-img">
	                      <div class="mda-list-item-text mda-2-line">
	                        <h3><a href="{% url "candidate_detail" Candidate.id %}"> {{Candidate.firstName}} {{Candidate.lastName}} </a></h3>
	                       <!--  <div class="text-muted text-ellipsis"> Candidate company here</div> -->
	                      </div>
	                    </div>
                      {% endif %}
				          {% endfor  %}

                    
                  <div class="card-body pv0 text-right"><a href="{% url "jobRequesition_filter" object.id %}"> <button type="button" class="btn btn-flat btn-info">View all</a></div>
                  <!-- <div class="card-divider"></div>
                  <h5 class="card-heading">Activity</h5>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-info"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Added</strong><span class="mr-sm">a new issue</span><a href="#">#5478</a></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>an hour ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-danger"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Commented</strong><span class="mr-sm"> on the project</span><a href="#">Material</a></p>
                      <p class="bl pl"><i>That's awesome!</i></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-success"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Completed</strong><span> all tasks asigned this week</span></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>3 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pb0">
                    <p class="pull-left mr"><em class="ion-record text-info"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Published</strong><span class="mr-sm"> new photos on the album</span><a href="#">WorldTrip</a></p>
                      <p><a href="#"><img src="img/pic4.jpg" alt="Pic" class="mr-sm thumb48"></a><a href="#"><img src="img/pic5.jpg" alt="Pic" class="mr-sm thumb48"></a><a href="#"><img src="img/pic6.jpg" alt="Pic" class="mr-sm thumb48"></a></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>4 hours ago</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="clearfix">
                      <p class="pull-left mr"><em class="ion-record text-primary"></em></p>
                      <div class="oh">
                        <p><strong class="mr-sm">Following</strong><span class="mr-sm">Jane Kuhn</span></p>
                        <p><span class="image-list"><a href="#"><img src="img/user/03.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/04.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/05.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/06.jpg" alt="User" class="img-circle thumb32"></a><a href="#"><img src="img/user/07.jpg" alt="User" class="img-circle thumb32"></a><strong><a href="#" class="ml-sm link-unstyled">+200</a></strong></span></p>
                        <div class="clearfix">
                          <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>yesterday</span></div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock base_content %}